@import '~bootstrap/scss/bootstrap';

body {
  //background-color: $body-bg-color;
  padding-top: 65px;
}

.gamebox {
  align-items: center;
  //background-color: $secondary;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
  border-right: solid 1px;
  border-left: solid 1px
}
