@import '~bootstrap/scss/bootstrap';

$game-color: #800080;

body {
  //background-color: $body-bg-color;
  padding-top: 150px;
}

h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 60px;
}

.gamebox {
  color: $game-color;
  font-size: 40px;
  margin: auto;
  min-height: 100px;
  padding-top: 20px;
  text-align: center;
  width: 50%;
}

.gamebox-bottom {
  border-bottom: 1px solid $black;
}

.gamebox-center {
  align-items: center;
  border-left: 1px solid $black;
  border-right: 1px solid $black;
}
